<article
  [class]="
    isDetail
      ? 'border-b border-gray-400 py-4'
      : 'border-b border-gray-400 py-4 cursor-pointer'
  "
  (click)="!isDetail && navigateToPostDetail($event)"
>
  <div class="flex gap-x-2 items-center">
    <hlm-avatar class="profile" (click)="navigateToProfile($event)">
      <img hlmAvatarImage [src]="(user$ | async)?.photoURL" alt="Avatar" />
      <hlm-skeleton hlmAvatarFallback />
    </hlm-avatar>
    @if (isLoading()) {
    <hlm-skeleton class="w-12 h-4" />
    } @else {
    <span class="text-sm mb-1 text-left block"
      >&#64;{{ (user$ | async)?.username }}</span
    >
    }
    <span class="text-sm mb-1 text-muted-foreground block">-</span>
    <span class="text-sm mb-1 text-muted-foreground block">{{
      post.createdAt | relativeTime
    }}</span>
  </div>
  <div class="pl-12">
    @if (isLoading()) {
    <hlm-skeleton class="h-4 mb-2" />
    <hlm-skeleton class="h-4 mb-2" />
    } @else {
    <p class="break-words">{{ post.postContent }}</p>
    } @if (imageDownloadUrls$ | async; as imageUrls) {
    <div [ngClass]="['mt-2 grid gap-1', getGridClass(imageUrls.length)]">
      @for (imageUrl of imageUrls; track imageUrl; let i = $index) { @if
      (imageUrl) {
      <div
        [ngClass]="{
          'col-span-2 row-span-2': imageUrls.length === 3 && i === 0
        }"
        class="relative"
      >
        <img
          [src]="imageUrl"
          [alt]="post.postContent"
          class="w-full h-full object-cover rounded-lg"
          [ngStyle]="{ 'aspect-ratio': imageUrls.length === 1 ? '2/1' : '1/1' }"
        />
      </div>
      } @else {
      <div class="relative">
        <hlm-skeleton class="w-full h-[100px] rounded-lg" />
      </div>
      } }
    </div>
    }
    <div class="actions flex gap-x-4 mt-2">
      <button
        (click)="toggleLike()"
        [disabled]="isDisabled()"
        class="text-sm flex items-center gap-x-1"
        [ngClass]="
          isLikedSignal()
            ? 'text-destructive hover:text-muted-foreground'
            : 'hover:text-destructive'
        "
      >
        <app-hlm-icon
          [name]="isLikedSignal() ? 'ionHeart' : 'ionHeartOutline'"
          size="sm"
        />
        <span class="block mb-1">{{ post.likes }}</span>
      </button>
      <hlm-dialog [state]="commentDialogState()" (close)="closeCommentDialog()">
        <button
          brnDialogTrigger
          (click)="openCommentDialog($event)"
          class="text-sm flex items-center gap-x-1 hover:text-muted-foreground"
        >
          <app-hlm-icon name="lucideMessageCircle" size="sm" />
          <span class="block mb-1">{{ post.comments }}</span>
        </button>
        <hlm-dialog-content
          class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[5rem] max-w-[50%]"
          *brnDialogContent="let ctx"
        >
          <span>Responding to &#64;{{ (user$ | async)?.username }}</span>
          <app-comment-form
            [post]="post"
            (closeDialog)="closeCommentDialog()"
          />
        </hlm-dialog-content>
      </hlm-dialog>
    </div>
  </div>
</article>
